# Project exclude paths
/cmake-build-debug*/
/cmake-build-release*/
/build/
/ML_inputs/
/.idea/
/in
/out

/test_data/aMLLibrary_data/output
/onnx_proto/onnx
/.vscode
/output*
/include/Extra/platform_specific_config.h.in


/test.*
/test2.*